flows.json
[{"id":"77f5bab7efa1411e","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"161439db37a99edc","type":"ui_form","z":"77f5bab7efa1411e","name":"","label":"","group":"b0ef22435cd82439","order":4,"width":0,"height":0,"options":[{"label":"AVERAGE HEARTBEATS(per minute)","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI\t","value":"BMI\t","type":"number","required":true,"rows":null},{"label":"AGE\t","value":"AGE\t","type":"number","required":true,"rows":null},{"label":"EXERCISE PER WEEK(in minutes)","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI\t":"","AGE\t":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":95.00001525878906,"y":103.00000095367432,"wires":[["efcac9283c940590"]]},{"id":"fe6f7dd152103d69","type":"ui_dropdown","z":"77f5bab7efa1411e","name":"","label":"SEX","tooltip":"","place":"SEX","group":"b0ef22435cd82439","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"M","value":"M","type":"str"},{"label":"F","value":"F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":136.00000381469727,"y":266.00000381469727,"wires":[["43b3f49edb545735"]]},{"id":"86be1ab0d30a84df","type":"ui_dropdown","z":"77f5bab7efa1411e","name":"","label":"FAMILY HISTORY OF HEART DISEASE?","tooltip":"","place":"FAMILYHISTORY","group":"b0ef22435cd82439","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Y","value":"Y","type":"str"},{"label":"N","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":214,"y":362.0000057220459,"wires":[["bf4326de845f2871"]]},{"id":"ad569e82f17694b4","type":"ui_dropdown","z":"77f5bab7efa1411e","name":"","label":"SMOKING SINCE LAST 5 YEARS?","tooltip":"","place":"SMOKERLAST5YRS","group":"b0ef22435cd82439","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Y","value":"Y","type":"str"},{"label":"N","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":192,"y":506.00000762939453,"wires":[["e92555457bf7c96d"]]},{"id":"b605e80cdd1a68b5","type":"debug","z":"77f5bab7efa1411e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":513.0000076293945,"y":217.00000286102295,"wires":[],"l":false},{"id":"7151a02b1c2a2745","type":"debug","z":"77f5bab7efa1411e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":542.0000076293945,"y":321.0000047683716,"wires":[],"l":false},{"id":"6824121e57d68c91","type":"debug","z":"77f5bab7efa1411e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580.0000076293945,"y":474.0000047683716,"wires":[],"l":false},{"id":"0b3a3e88e7f8ed07","type":"debug","z":"77f5bab7efa1411e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":652.0000095367432,"y":589.0000076293945,"wires":[],"l":false},{"id":"efcac9283c940590","type":"function","z":"77f5bab7efa1411e","name":"Global variable for form node","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"wCx1kpL7nRN_WFW3LzKToRP4d009DSEdQdnIFGbhDRJ3\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":301,"y":150.00000190734863,"wires":[["b605e80cdd1a68b5","1c773f161a1bab01"]]},{"id":"43b3f49edb545735","type":"function","z":"77f5bab7efa1411e","name":"SEX","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":357.00000381469727,"y":289.0000047683716,"wires":[["7151a02b1c2a2745"]]},{"id":"bf4326de845f2871","type":"function","z":"77f5bab7efa1411e","name":"FAMILYHISTORY","func":"global.set(\"FAMILYHISTORY\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":407.00000762939453,"y":418.0000057220459,"wires":[["6824121e57d68c91"]]},{"id":"e92555457bf7c96d","type":"function","z":"77f5bab7efa1411e","name":"SMOKERLAST5YRS","func":"global.set(\"SMOKERLAST5YRS\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":438.00000762939453,"y":548.0000076293945,"wires":[["0b3a3e88e7f8ed07"]]},{"id":"1c773f161a1bab01","type":"http request","z":"77f5bab7efa1411e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":569.0000076293945,"y":76.00000095367432,"wires":[["47e2342e6d5c1cb8","23d66e1e1cc0bdca"]]},{"id":"47e2342e6d5c1cb8","type":"debug","z":"77f5bab7efa1411e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":719.6000595092773,"y":20,"wires":[],"l":false},{"id":"23d66e1e1cc0bdca","type":"function","z":"77f5bab7efa1411e","name":"Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737.0000095367432,"y":126.00000095367432,"wires":[["044dd71808560321"]]},{"id":"044dd71808560321","type":"http request","z":"77f5bab7efa1411e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-de.ml.cloud.ibm.com/ml/v4/deployments/1f9b2f37-c2cc-4731-b348-85698c718ec9/predictions?version=2022-07-30","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":724.0000076293945,"y":280.00000286102295,"wires":[["9798fc87a0061d6a","4c9696619c7da840"]]},{"id":"9798fc87a0061d6a","type":"debug","z":"77f5bab7efa1411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":948.0000133514404,"y":210.00000190734863,"wires":[]},{"id":"4c9696619c7da840","type":"function","z":"77f5bab7efa1411e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":709.0000114440918,"y":441.0000057220459,"wires":[["88138fbe8adee614","6dcc22f131e807a2"]]},{"id":"88138fbe8adee614","type":"debug","z":"77f5bab7efa1411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":897.0000114440918,"y":498.00000762939453,"wires":[]},{"id":"6dcc22f131e807a2","type":"ui_text","z":"77f5bab7efa1411e","group":"b0ef22435cd82439","order":5,"width":"0","height":"0","name":"","label":"Risk of Heart Failure: ","format":"{{msg.payload}}","layout":"row-center","className":"","x":926.0000152587891,"y":380.0000047683716,"wires":[]},{"id":"b0ef22435cd82439","type":"ui_group","name":"HEART DISEASE PREDICTOR","tab":"088e20a647bcbdde","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"088e20a647bcbdde","type":"ui_tab","name":"Heart Disease Predictor","icon":"dashboard","disabled":false,"hidden":false}]